* body{
    margin: 0px;
    padding: 0px;
}
#topoContainer{
    width: 980px;
    height: 200px;
    margin: auto;
    background-color: black;
}
#menu{
    width: 780px;
    height: 200px;
    background-color: blue;
    float: right;
}
#logo{
    width: 200px;
    height: 200px;
    background-color: rgb(58, 58, 186);
    float: right;
}
#Banner{
width: 700px;
height: 400px;
background-color: green;
margin: auto;
margin-top: 50px;
}
#conteudoSite{
    width: 980px;
    height: 500px;
    background-color: blueviolet;
    margin: auto;
}